body {
    background-image: url("D:\Projects\AIToolsBox_SE\AIToolsBox\client\front\public\img\Intro Desktop.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: cover;
}


.create-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.create-account .div {
    background-color: transparent;
    height: 80vm;
    overflow: hidden;
    position: relative;
    width: 80vm;
}

.create-account .overlap {
    background-color: transparent;
    height: 1024px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1447px;
}

.create-account .right-section {
    background-color: #ede7e3;
    border-radius: 40px;
    height: 1024px;
    left: 480px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 960px;
}

.create-account .or {
    height: 17px;
    left: 153px;
    position: absolute;
    top: 712px;
    width: 723px;
}

.create-account .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 307px;
}

.create-account .img {
    height: 1px;
    left: 417px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 304px;
}

.create-account .text-wrapper {
    color: #6a6a6a;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 17px;
    left: 348px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.create-account .other-option {
    height: 59px;
    left: 153px;
    position: absolute;
    top: 780px;
    width: 721px;
}

.create-account .facebook {
    background-color: #ede7e3;
    border: 1px solid;
    border-color: #6a6a6a;
    border-radius: 8px;
    height: 59px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 330px;
}

.create-account .sign-up-with {
    color: #6a6a6a;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 12px;
    left: 99px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 23px;
    width: 181px;
}

.create-account .facebook-2 {
    height: 46px;
    left: 23px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 46px;
}

.create-account .google {
    background-color: #ede7e3;
    border: 1px solid;
    border-color: #6a6a6a;
    border-radius: 8px;
    height: 59px;
    left: 391px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 330px;
}

.create-account .sign-up-with-google {
    color: #6a6a6a;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 12px;
    left: 116px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 23px;
    white-space: nowrap;
}

.create-account .google-2 {
    height: 46px;
    left: 26px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 46px;
}

.create-account .already-have-an {
    color: transparent;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 12px;
    left: 153px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 646px;
    white-space: nowrap;
}

.create-account .span {
    color: #6a6a6a;
}

.create-account .text-wrapper-2 {
    color: #489fb5;
}

.create-account .frame {
    height: 59px;
    left: 153px;
    position: absolute;
    top: 576px;
    width: 721px;
}

.create-account .create-account-wrapper {
    align-items: center;
    border: none;
    background-color: #ffa62b;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    height: 59px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 721px;
    top: -435px;
    left: -153px;
}

.create-account .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.create-account .fill {
    height: 65px;
    left: 153px;
    position: absolute;
    top: 436px;
    width: 721px;
}

.create-account .overlap-group {
    height: 65px;
    position: relative;
}

.create-account .frame-2 {
    background-color: #ede7e3;
    border: 1px solid;
    border-color: #6a6a6a;
    border-radius: 8px;
    height: 59px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 721px;
}

.create-account .password-wrapper {
    align-items: center;
    background-color: #ede7e3;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 19px;
    padding: 0px 8px;
    position: absolute;
    top: 0;
}

.create-account .password {
    color: #6a6a6a;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.create-account .overlap-wrapper {
    height: 65px;
    left: 153px;
    position: absolute;
    top: 402px;
    width: 721px;
}

.create-account .input {
    align-items: center;
    background-color: #ede7e3;
    border: none;
    color: #6a6a6a;
    display: inline-flex;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    justify-content: center;
    left: 19px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    padding: 0px 8px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.create-account .overlap-group-wrapper {
    height: 65px;
    left: 369px;
    position: absolute;
    top: -65px;
    width: 352px;
}

.create-account .frame-3 {
    background-color: #ede7e3;
    border: 1px solid;
    border-color: #6a6a6a;
    border-radius: 8px;
    height: 59px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 352px;
}

.create-account .last-name {
    align-items: center;
    background-color: #ede7e3;
    border: none;
    color: #6a6a6a;
    display: inline-flex;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    justify-content: center;
    left: 22px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    padding: 0px 8px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.create-account .div-wrapper {
    height: 65px;
    position: absolute;
    top: -65px;
    width: 352px;
}

.create-account .text-wrapper-4 {
    color: #4c4c4c;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 700;
    height: 29px;
    left: 153px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 208px;
    white-space: nowrap;
}

.create-account .language {
    height: 11px;
    left: 771px;
    position: absolute;
    top: 42px;
    width: 105px;
}

.create-account .english-US {
    color: #6a6a6a;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 10px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1px;
    white-space: nowrap;
}

.create-account .polygon {
    height: 8px;
    left: 90px;
    position: absolute;
    top: 3px;
    width: 12px;
}

.create-account .flexcontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 29px;
    height: 161px;
    left: 53px;
    position: absolute;
    top: 180px;
    width: 427px;
}

.create-account .text {
    align-self: stretch;
    color: #4c4c4c;
    font-family: "Syncopate", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
}

.create-account .text-wrapper-5 {
    color: #4c4c4c;
    font-family: "Syncopate", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
}

.create-account .noun-ai {
    height: 42px;
    left: 23px;
    object-fit: cover;
    position: absolute;
    top: 21px;
    width: 42px;
}

.create-account .kisspng-big-data {
    height: 509px;
    left: 23px;
    object-fit: cover;
    position: absolute;
    top: 383px;
    width: 587px;
}

.create-account .dlf {
    height: 333px;
    left: 4758px;
    object-fit: cover;
    position: absolute;
    top: 1181px;
    width: 528px;
}