.profile-desktop {
  background-color: #ede7e3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.profile-desktop .div {
  background-color: #ede7e3;
  height: 1406px;
  position: relative;
  width: 1440px;
}

.profile-desktop .background {
  background-color: #16697a;
  height: 348px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1440px;
}

.profile-desktop .overlap {
  height: 1919px;
  left: -311px;
  position: relative;
  top: -260px;
  width: 2009px;
}

.profile-desktop .vector-backgorund {
  height: 1919px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2009px;
}

.profile-desktop .ellipse {
  background-color: #ede7e380;
  border-radius: 257.5px/245px;
  filter: blur(124px);
  height: 490px;
  left: 1494px;
  position: absolute;
  top: 769px;
  width: 515px;
}

.profile-desktop .overlap-group {
  height: 608px;
  left: 229px;
  position: absolute;
  top: 0;
  width: 1522px;
}

.profile-desktop .ellipse-2 {
  background-color: #82c0cc9c;
  border-radius: 257.5px/245px;
  filter: blur(124px);
  height: 490px;
  left: 0;
  position: absolute;
  top: 0;
  width: 515px;
}

.profile-desktop .vector {
  height: 348px;
  left: 277px;
  position: absolute;
  top: 260px;
  width: 1245px;
}

.profile-desktop .img {
  height: 773px;
  left: 4911px;
  position: absolute;
  top: 1510px;
  width: 992px;
}

.profile-desktop .info {
  height: 180px;
  left: 515px;
  position: absolute;
  top: 400px;
  width: 1036px;
}

.profile-desktop .overlap-2 {
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 454px;
}

.profile-desktop .text-wrapper {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 24px;
  font-weight: 600;
  height: 53px;
  left: 164px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 37px;
  width: 265px;
}

.profile-desktop .text-wrapper-2 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 15px;
  font-weight: 300;
  height: 53px;
  left: 189px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  width: 265px;
}

.profile-desktop .transparent {
  height: 20px;
  left: 430px;
  object-fit: cover;
  position: absolute;
  top: 37px;
  width: 20px;
}

.profile-desktop .profile-circle-icon {
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 189px;
}

.profile-desktop .overlap-3 {
  height: 80px;
  left: 885px;
  position: absolute;
  top: 37px;
  width: 143px;
}

.profile-desktop .premium-days-left {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 53px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 143px;
}

.profile-desktop .text-wrapper-3 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 15px;
  font-weight: 300;
  height: 53px;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  width: 38px;
}

.profile-desktop .nav-bar {
  height: 64px;
  left: 515px;
  position: absolute;
  top: 288px;
  width: 1043px;
}

.profile-desktop .AI-tools-box {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 22px;
  font-weight: 700;
  height: 64px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 148px;
}

.profile-desktop .navbar {
  height: 64px;
  left: 508px;
  position: absolute;
  top: 0;
  width: 525px;
}

.profile-desktop .text-wrapper-4 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 123px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 148px;
}

.profile-desktop .text-wrapper-5 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 369px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 148px;
}

.profile-desktop .tools {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 148px;
}

.profile-desktop .contact {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 246px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 148px;
}

.profile-desktop .profile-circle-icon-2 {
  height: 44px;
  left: 482px;
  object-fit: cover;
  position: absolute;
  top: -10px;
  width: 43px;
}

.profile-desktop .premium-plans {
  color: #16697a;
  font-family: "Outfit", Helvetica;
  font-size: 48px;
  font-weight: 600;
  height: 53px;
  left: 519px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 890px;
  white-space: nowrap;
  width: 400px;
}

.profile-desktop .overlap-4 {
  height: auto;
  left: 0;
  position: absolute;
  top: 415px;
  width: 1440px;

}

.profile-desktop .tools-2 {
  background-color: #ede7e3;
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.profile-desktop .history {
  background-color: #ebe0e0;
  border-radius: 7px;
  height: 406px;
  left: 257px;
  mix-blend-mode: overlay;
  opacity: 0.4;
  overflow: hidden;
  position: absolute;
  top: 21px;
  width: 927px;
}

.profile-desktop .line {
  height: 2px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 927px;
}

.profile-desktop .line-2 {
  height: 360px;
  left: 147px;
  position: absolute;
  top: 46px;
  width: 2px;
}

.profile-desktop .line-3 {
  height: 360px;
  left: 463px;
  position: absolute;
  top: 46px;
  width: 2px;
}

.profile-desktop .line-4 {
  height: 360px;
  left: 779px;
  position: absolute;
  top: 46px;
  width: 2px;
}

.profile-desktop .download-icon {
  height: 24px;
  left: 431px;
  object-fit: cover;
  position: absolute;
  top: 57px;
  width: 22px;
}

.profile-desktop .download-icon-2 {
  height: 24px;
  left: 750px;
  object-fit: cover;
  position: absolute;
  top: 57px;
  width: 22px;
}

.profile-desktop .tool {
  color: #82c0cc;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 278px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 39px;
  width: 93px;
}

.profile-desktop .sent {
  color: #82c0cc;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 508px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 39px;
  width: 94px;
}

.profile-desktop .text-wrapper-6 {
  color: #82c0cc;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 787px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 45px;
  width: 183px;
}

.profile-desktop .time {
  color: #82c0cc;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1059px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 39px;
  width: 104px;
}

.profile-desktop .speech-to-text {
  color: #489fb5;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 257px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 372px;
  white-space: nowrap;
}

.profile-desktop .text-to-speech {
  color: #489fb5;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 656px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 372px;
  white-space: nowrap;
}

.profile-desktop .image-to-text {
  color: #489fb5;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1063px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 372px;
  white-space: nowrap;
}

.profile-desktop .line-5 {
  height: 2px;
  left: 257px;
  position: absolute;
  top: 407px;
  width: 927px;
}

.profile-desktop .frame {
  background-color: #82c0cc;
  border-radius: 3px;
  height: 285px;
  left: 293px;
  overflow: hidden;
  position: absolute;
  top: 993px;
  width: 253px;
}

.profile-desktop .button {
  all: unset;
  align-items: center;
  background-color: #ffa62b;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  gap: 32px;
  height: 51px;
  justify-content: center;
  left: 15px;
  padding: 10px 32px;
  position: absolute;
  top: 203px;
  width: 223px;
}

.profile-desktop .buy-now {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.profile-desktop .text-wrapper-7 {
  color: #ede7e3;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 500;
  left: 82px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 82px;
  white-space: nowrap;
}

.profile-desktop .standard {
  color: #ede7e3;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 73px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 39px;
  white-space: nowrap;
}

.profile-desktop .up-to-uploads {
  color: #ede7e3;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 134px;
  white-space: nowrap;
}

.profile-desktop .frame-2 {
  background-color: #82c0cc;
  border-radius: 3px;
  height: 285px;
  left: 593px;
  overflow: hidden;
  position: absolute;
  top: 993px;
  width: 253px;
}

.profile-desktop .buy-now-wrapper {
  all: unset;
  align-items: center;
  background-color: #ffa62b;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  gap: 32px;
  height: 51px;
  justify-content: center;
  left: 15px;
  padding: 10px 32px;
  position: absolute;
  top: 202px;
  width: 223px;
}

.profile-desktop .text-wrapper-8 {
  color: #ede7e3;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 500;
  left: 72px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 78px;
  white-space: nowrap;
}

.profile-desktop .business {
  color: #ede7e3;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 80px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 37px;
  white-space: nowrap;
}

.profile-desktop .p {
  color: #ede7e3;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 137px;
  white-space: nowrap;
}

.profile-desktop .fast-er-download {
  color: #ede7e3;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 156px;
  white-space: nowrap;
}

.profile-desktop .frame-3 {
  background-color: #82c0cc;
  border-radius: 3px;
  height: 285px;
  left: 893px;
  overflow: hidden;
  position: absolute;
  top: 993px;
  width: 253px;
}

.profile-desktop .div-wrapper {
  all: unset;
  align-items: center;
  background-color: #ffa62b;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  gap: 32px;
  height: 51px;
  justify-content: center;
  left: 15px;
  padding: 10px 32px;
  position: absolute;
  top: 201px;
  width: 223px;
}

.profile-desktop .text-wrapper-9 {
  color: #ede7e3;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 500;
  left: 67px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 82px;
  white-space: nowrap;
}

.profile-desktop .professional {
  color: #ede7e3;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 39px;
  white-space: nowrap;
}

.profile-desktop .unlimited-daily {
  color: #ede7e3;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 138px;
  white-space: nowrap;
}

.profile-desktop .unlimited-donwload {
  color: #ede7e3;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 157px;
  white-space: nowrap;
}

table tr, table td, table th {
  position: static;
 }

 .profile-desktop .tool-2 {
  color: #82c0cc;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 278px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  top: 90px;
  width: 93px;
}

.profile-desktop .sent-2 {
  color: #82c0cc;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 390px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  top: 90px;
  width: 150px;
}

.profile-desktop .text-wrapper-6-2 {
  color: #82c0cc;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 550px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  top: 90px;
  width: 183px;
}

.profile-desktop .time-2 {
  color: #82c0cc;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 635px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  top: 80px;
  width: 104px;
}

.download-link {
  color: #82c0cc;
 }
 