.body {
  overflow: hidden;
}

.main-desktop {
  background-color: #ede7e3;
  justify-content: center;
  width: 100%;
  height: 1106px;
}

.main-desktop .div {
  background-color: #ede7e3;
  height: 4031px;
  position: relative;
  width: 1440px;
}

.main-desktop .footer {
  background-color: transparent;
  height: 138px;
  left: 146px;
  position: absolute;
  top: 3748px;
  width: 1150px;
}

.main-desktop .overlap-group {
  height: 64px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1109px;
}

.main-desktop .line {
  height: 3px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 1065px;
}

.main-desktop .text-wrapper {
  color: #16697a;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 255px;
}

.main-desktop .text-wrapper-2 {
  color: #16697a;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 128px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 255px;
}

.main-desktop .twitter {
  height: 34px;
  left: 769px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 59px;
}

.main-desktop .instagram {
  height: 40px;
  left: 884px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 60px;
}

.main-desktop .facebook {
  height: 53px;
  left: 1000px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 46px;
}

.main-desktop .AI-tools-box {
  color: #16697a;
  font-family: "Outfit", Helvetica;
  font-size: 22px;
  font-weight: 700;
  height: 64px;
  left: 97px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 74px;
  width: 148px;
}

.main-desktop .p {
  color: #16697a;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 452px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 74px;
  width: 255px;
}

.main-desktop .overlap {
  height: 64px;
  left: 707px;
  position: absolute;
  top: 74px;
  width: 431px;
}

.main-desktop .text-wrapper-3 {
  color: #16697a;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 176px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 255px;
}

.main-desktop .premium {
  height: 226px;
  left: 190px;
  position: absolute;
  top: 3461px;
  width: 1065px;
}

.main-desktop .frame {
  background: linear-gradient(180deg, rgb(130, 192, 204) 0%, rgba(130, 192, 204, 0) 100%);
  height: 226px;
  position: relative;
}

.main-desktop .button {
  all: unset;
  align-items: center;
  background-color: #ffa62b;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  gap: 32px;
  height: 57px;
  justify-content: center;
  left: 437px;
  padding: 10px 32px;
  position: absolute;
  top: 140px;
  width: 189px;
}

.main-desktop .text-wrapper-4 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main-desktop .overlap-group-2 {
  height: 93px;
  left: 252px;
  position: absolute;
  top: 19px;
  width: 558px;
}

.main-desktop .become-a-premium {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 36px;
  font-weight: 500;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 511px;
}

.main-desktop .experience-unlimited {
  color: #ede7e3;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 47px;
  width: 558px;
}

.main-desktop .STT-tool {
  height: 518px;
  left: 231px;
  position: absolute;
  top: 2754px;
  width: 963px;
}

.main-desktop .TRY-IT-OUT-wrapper {
  all: unset;
  align-items: center;
  background: linear-gradient(180deg, rgb(255, 166, 43) 0%, rgba(255, 166, 43, 0) 100%);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  gap: 32px;
  height: 51px;
  justify-content: center;
  left: 123px;
  padding: 10px 32px;
  position: absolute;
  top: 393px;
  width: 223px;
}

.main-desktop .speech-to-text {
  color: #16697a;
  font-family: "Poppins", Helvetica;
  font-size: 60px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 119px;
  white-space: nowrap;
}

.main-desktop .capture-your {
  color: #489fb5;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 230px;
  width: 423px;
}

.main-desktop .lovepik-com {
  height: 518px;
  left: 561px;
  position: absolute;
  top: 0;
  width: 398px;
}

.main-desktop .OCR-tool {
  height: 469px;
  left: 196px;
  position: absolute;
  top: 2028px;
  width: 1030px;
}

.main-desktop .div-wrapper {
  all: unset;
  align-items: center;
  background: linear-gradient(180deg, rgb(255, 166, 43) 0%, rgba(255, 166, 43, 0) 100%);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  gap: 32px;
  height: 51px;
  justify-content: center;
  left: 665px;
  padding: 10px 32px;
  position: absolute;
  top: 385px;
  width: 223px;
}

.main-desktop .text-to-speech {
  color: #16697a;
  font-family: "Poppins", Helvetica;
  font-size: 60px;
  font-weight: 700;
  left: 542px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 111px;
  white-space: nowrap;
}

.main-desktop .craft-your-ideas-let {
  color: #489fb5;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 577px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 235px;
  width: 423px;
}

.main-desktop .img {
  height: 469px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 352px;
}

.main-desktop .OCR-tool-2 {
  height: 510px;
  left: 231px;
  position: absolute;
  top: 1295px;
  width: 974px;
}

.main-desktop .button-2 {
  all: unset;
  align-items: center;
  background: linear-gradient(180deg, rgb(255, 166, 43) 0%, rgba(255, 166, 43, 0) 100%);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  gap: 32px;
  height: 51px;
  justify-content: center;
  left: 92px;
  padding: 10px 32px;
  position: absolute;
  top: 371px;
  width: 223px;
}

.main-desktop .image-to-text {
  color: #16697a;
  font-family: "Poppins", Helvetica;
  font-size: 60px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 105px;
  white-space: nowrap;
}

.main-desktop .unleash-the-power-of {
  color: #489fb5;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 212px;
  width: 423px;
}

.main-desktop .pngtreelaptop-laptop {
  height: 510px;
  left: 524px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 446px;
}

.main-desktop .tools {
  background-color: #16697a;
  height: 107px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 1024px;
  width: 1440px;
}

.main-desktop .overlap-2 {
  height: 1223px;
  left: -373px;
  position: relative;
  top: -442px;
  width: 2009px;
}

.main-desktop .vector-background {
  height: 1223px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2009px;
}

.main-desktop .ellipse {
  background-color: #ede7e380;
  border-radius: 257.5px/245px;
  filter: blur(124px);
  height: 490px;
  left: 1494px;
  position: absolute;
  top: 73px;
  width: 515px;
}

.main-desktop .vector {
  height: 107px;
  left: 373px;
  position: absolute;
  top: 442px;
  width: 889px;
}

.main-desktop .speech-to-text-2 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 626px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 489px;
  white-space: nowrap;
}

.main-desktop .text-to-speech-2 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1025px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 489px;
  white-space: nowrap;
}

.main-desktop .image-to-text-2 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1432px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 489px;
  white-space: nowrap;
}

.main-desktop .overlap-3 {
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.main-desktop .intro-desktop {
  background-color: #16697a;
  height: 1024px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1440px;
}

.main-desktop .overlap-4 {
  height: 1919px;
  left: -373px;
  position: relative;
  top: -114px;
  width: 2009px;
}

.main-desktop .vector-backgorund {
  height: 1919px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2009px;
}

.main-desktop .overlap-group-3 {
  height: 1259px;
  left: 229px;
  position: relative;
  width: 1780px;
}

.main-desktop .ellipse-2 {
  background-color: #ede7e380;
  border-radius: 257.5px/245px;
  filter: blur(124px);
  height: 490px;
  left: 1265px;
  position: absolute;
  top: 769px;
  width: 515px;
}

.main-desktop .ellipse-3 {
  background-color: #82c0cc9c;
  border-radius: 257.5px/245px;
  filter: blur(124px);
  height: 490px;
  left: 0;
  position: absolute;
  top: 0;
  width: 515px;
}

.main-desktop .vector-2 {
  height: 828px;
  left: 277px;
  position: absolute;
  top: 114px;
  width: 1307px;
}

.main-desktop .vector-3 {
  height: 495px;
  left: 144px;
  position: absolute;
  top: 643px;
  width: 889px;
}

.main-desktop .intro {
  height: 385px;
  left: 590px;
  position: absolute;
  top: 450px;
  width: 1050px;
}

.main-desktop .overlap-5 {
  height: 385px;
  position: relative;
  width: 1046px;
}

.main-desktop .button-3 {
  all: unset;
  align-items: center;
  background-color: #ffa62b;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  gap: 32px;
  height: 51px;
  justify-content: center;
  left: 3px;
  padding: 10px 32px;
  position: absolute;
  top: 288px;
  width: 223px;
}

.main-desktop .FAQ-wrapper {
  all: unset;
  align-items: center;
  background-color: #82c0cc;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  gap: 32px;
  height: 51px;
  justify-content: center;
  left: 241px;
  padding: 10px 32px;
  position: absolute;
  top: 288px;
  width: 223px;
}

.main-desktop .overlap-6 {
  height: 385px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1046px;
}

.main-desktop .wide-range-of-tools {
  color: #ede7e3;
  font-family: "Poppins", Helvetica;
  font-size: 60px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  white-space: nowrap;
}

.main-desktop .kisspng-information {
  height: 385px;
  left: 523px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 523px;
}

.main-desktop .we-give-you-access {
  color: #82c0cc;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 142px;
  width: 423px;
}

.main-desktop .nav-bar {
  height: 64px;
  left: 173px;
  position: absolute;
  top: 30px;
  width: 1043px;
}

.main-desktop .AI-tools-box-2 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 22px;
  font-weight: 700;
  height: 64px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 148px;
}

.main-desktop .navbar {
  height: 64px;
  left: 508px;
  position: absolute;
  top: 0;
  width: 525px;
}

.main-desktop .text-wrapper-5 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 123px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 148px;
}

.main-desktop .text-wrapper-6 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 369px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 148px;
}

.main-desktop .tools-2 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 148px;
}

.main-desktop .contact {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 246px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 148px;
}

.main-desktop .profile-circle-icon {
  height: 44px;
  left: 482px;
  object-fit: cover;
  position: absolute;
  top: -10px;
  width: 43px;
}
