version: '3.8'

services:

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.14.1
    container_name: elasticsearch_container
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - xpack.security.enabled=false
    ports:
        - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - efk-network

  kibana:
    image: docker.elastic.co/kibana/kibana:8.14.1
    container_name: kibana_container
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
        - "5601:5601"
    networks:
        - efk-network
    depends_on:
        - elasticsearch

  fluentbit:
    image: fluent/fluent-bit:latest
    container_name: fluentbit
    volumes:
      - ../infra/efk-stack/fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf
      - ../services/iam-service/logs:/fluent-bit/logs/iam
      - ../services/media-service/logs:/fluent-bit/logs/media
      - ../services/ocr-service/logs:/fluent-bit/logs/ocr
    networks:
      - efk-network
      - app-network


networks:
  app-network:
    driver: bridge
  efk-network:
    driver: bridge


volumes:
  esdata:
