fastapi
fastapi-restful
uvicorn
sqlalchemy
databases
pydantic
pydantic[email]
pydantic-settings
typing-inspect
psycopg2-binary
redis
python-jose
pyjwt
passlib[bcrypt]
bcrypt==4.0.1
sqlalchemy-utils
loguru
pytest
pytest_asyncio
