body {
  background-image: url("C:\Users\nasta\OneDrive\Desktop\AiToolsBox\frontend\front\public\img\Intro Desktop.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: cover;
}

.OCR-desktop {
  background-color: #16697a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.OCR-desktop .overlap-wrapper {
  background-color: #16697a;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.OCR-desktop .overlap {
  height: 1919px;
  left: -266px;
  position: relative;
  top: -81px;
  width: 2009px;
}

.OCR-desktop .vector-backgorund {
  height: 1919px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2009px;
}

.OCR-desktop .overlap-group {
  height: 1259px;
  left: 229px;
  position: relative;
  width: 1780px;
}

.OCR-desktop .ellipse {
  background-color: #ede7e380;
  border-radius: 257.5px/245px;
  filter: blur(124px);
  height: 490px;
  left: 1265px;
  position: absolute;
  top: 769px;
  width: 515px;
}

.OCR-desktop .div {
  background-color: #82c0cc9c;
  border-radius: 257.5px/245px;
  filter: blur(124px);
  height: 490px;
  left: 0;
  position: absolute;
  top: 0;
  width: 515px;
}

.OCR-desktop .vector {
  height: 861px;
  left: 277px;
  position: absolute;
  top: 81px;
  width: 1200px;
}

.OCR-desktop .img {
  height: 462px;
  left: 37px;
  position: absolute;
  top: 643px;
  width: 996px;
}

.OCR-desktop .buttons {
  height: 750px;
  left: 470px;
  position: absolute;
  top: 115px;
  width: 1033px;
}

.OCR-desktop .button {
  all: unset;
  align-items: center;
  background-color: #ffa62b;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  gap: 32px;
  height: 51px;
  justify-content: center;
  left: 74px;
  padding: 10px 32px;
  position: absolute;
  top: 699px;
  width: 165px;
}

.OCR-desktop .text-wrapper {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.OCR-desktop .div-wrapper {
  all: unset;
  align-items: center;
  background-color: #82c0cc;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  gap: 32px;
  height: 51px;
  justify-content: center;
  left: 260px;
  padding: 10px 32px;
  position: absolute;
  top: 699px;
  width: 157px;
}

.OCR-desktop .text-wrapper-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -11px;
  margin-right: -11px;
  position: relative;
  text-align: center;
  width: 115px;
}

.OCR-desktop .nav-bar {
  height: 64px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1043px;
}

.OCR-desktop .AI-tools-box {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 22px;
  font-weight: 700;
  height: 64px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 148px;
}

.OCR-desktop .navbar {
  height: 64px;
  left: 508px;
  position: absolute;
  top: 0;
  width: 525px;
}

.OCR-desktop .text-wrapper-3 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 123px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 148px;
}

.OCR-desktop .text-wrapper-4 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 369px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 148px;
}

.OCR-desktop .tools {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 148px;
}

.OCR-desktop .contact {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 64px;
  left: 246px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 148px;
}

.OCR-desktop .profile-circle-icon {
  height: 44px;
  left: 482px;
  object-fit: cover;
  position: absolute;
  top: -10px;
  width: 43px;
}

.OCR-desktop .download-txt-file-wrapper {
  all: unset;
  align-items: center;
  background-color: #ffa62b;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  gap: 32px;
  height: 51px;
  justify-content: center;
  left: 1084px;
  padding: 10px 32px;
  position: absolute;
  top: 814px;
  width: 345px;
}

.OCR-desktop .upload-image {
  background-color: #ffffff;
  height: 312px;
  left: 544px;
  position: absolute;
  top: 473px;
  border-radius: 8px;
  width: 345px;
}

.OCR-desktop .overlap-2 {
  background-color: #ede7e3;
  top: 10px;
  left: 12px;
  border-radius: 8px;
  height: 290px;
  position: absolute;
  width: 321px;
}

.OCR-desktop .drag-drop-upload-or {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 192px;
  white-space: nowrap;
  width: 299px;
}

.OCR-desktop .plus {
  height: 58px;
  left: 130px;
  position: absolute;
  top: 115px;
  width: 62px;
}

.OCR-desktop .overlap-group-2 {
  background-color: #489fb5;
  border-radius: 30px/29px;
  height: 58px;
  position: relative;
  width: 60px;
}

.OCR-desktop .text-wrapper-5 {
  color: #ede7e3;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 500;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
  width: 36px;
}

.OCR-desktop .upload-image-2 {
  background-color: #ffffff;
  border-radius: 8px;
  height: 312px;
  left: 1084px;
  position: absolute;
  top: 473px;
  width: 345px;
}

.OCR-desktop .upload-image-3 {
  background-color: #ede7e3;
  border-radius: 8px;
  height: 290px;
  left: 1096px;
  position: absolute;
  top: 484px;
  width: 321px;
}

.OCR-desktop .image-to-text {
  color: #ede7e3;
  font-family: "Poppins", Helvetica;
  font-size: 60px;
  font-weight: 700;
  left: 608px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 291px;
  white-space: nowrap;
}
